<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">eScholarship&rsquo;s DSpace 7 Pilot</h1>
          <p class="lead">This is an experimental installation of DSpace 7, hosted by the California Digital Library. No guarantees of 
            permanence are implied or guaranteed. Any data loaded to this platform can be changed or removed without warning.</p>
        </div>
      </div>
    </div>
  </div>
</div>