<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">eScholarship&rsquo;s DSpace 7 Pilot</h1>
        <p class="lead">This is an experimental installation of DSpace 7, hosted by the California Digital Library. No guarantees of permanence are implied. Any data loaded to this platform can be changed or removed without warning.</p>
      </div>
    </div>
  </div>
  <!-- <picture class="background-image"> -->
  <!--   <source type="image/webp" srcset="assets/cdl/images/banner.webp 2000w, assets/cdl/images/banner-half.webp 1200w, assets/cdl/images/banner-tall.webp 768w"> -->
  <!--   <source type="image/jpg" srcset="assets/cdl/images/banner.jpg 2000w, assets/cdl/images/banner-half.jpg 1200w, assets/cdl/images/banner-tall.jpg 768w"> -->
  <!--   <img alt="" [src]="'assets/cdl/images/banner.jpg'"/>&#60;&#33;&#45;&#45; without the []="''" Firefox downloads both the fallback and the resolved image &#45;&#45;&#62; -->
  <!-- </picture> -->
</div>